spring:
  security:
    oauth2:
      client:
        registration:
          cap-client:
            provider: xsuaa
            authorization-grant-type: client_credentials
            client-id: ${XSUAA_CLIENT_ID}
            client-secret: ${XSUAA_CLIENT_SECRET}
        provider:
          xsuaa:
            token-uri: ${XSUAA_TOKEN_URI}
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: true

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:

security:
  basic:
    enabled: false

cap:
  odata:
    url: "https://xxxx.cfapps.us10-001.hana.ondemand.com/odata/v4/CatalogService/Products(1)"
